# **Table of contents**

* __[1. Import Data](#import)__
  * [1.1 Import the needed libraries and documents into Jupyter Notebook](#lib)
  * [1.2. Check for duplicates](#duplicates)
* __[2. Customer Data](#digital_contact)__
  * [2.1 Explore Data](#explore_digital_contact)
    * [2.1.1 Basic Exploration](#dt_basic_exploration)
    * [2.1.2 Statistical Exploration](#dt_statis_exploration)
    * [2.1.3 Visual Exploration](#dt_visual_exploration)
  * [2.2 Preprocess Data](#pprocess_digital_contact)
    * [2.2.1 Missing Values](#dt_missing_values)
    * [2.2.2 Normalizing the Data](#dt_normalizing)
  * [2.3 Modelling](#modelling_digital_contact)
    * [2.3.1 Identify the right number of clusters](#dt_clusters)
    * [2.3.2 Training the model with K-Means](#dt_kmeans)
    * [2.3.3. Visualizing in detail the clusters](#dt_visualize_clusters)
    * [2.3.4. Applying K-means after performing PCA](#dt_PCA_clusters)
    * [2.3.5. Applying DBSCAN](#dt_DBSCAN_clusters)
    * [2.3.6. Applying t-SNE](#dt_TSNE_clusters)
    * [2.3.7. Applying DBSCAN after performing t-SNE](#dt_TSNE_DBSCAN_clusters)

# 1. Importing the data

In [517]:
import pandas as pd

In [518]:
customers_df =pd.read_csv("data/DM_AIAI_CustomerDB.csv")
flights_df=pd.read_csv("data/DM_AIAI_FlightsDB.csv",)

### Metadata
#### Customer
- *Loyalty* - Unique customer identifier for loyalty program members;
- *First Name* -Customer's first name;
- *Last Name* - Customer's last name;
- *Customer Name*- Customer's full name (concatenated);
- *Country* - Customer's country of residence;
- *Province or State* - Customer's province or state;
- *City* - Customer's city of residence;
- *Latitude* - Geographic latitude coordinate of customer location;
- *Longitude* - Geographic longitude coordinate of  customer location;
- *Postal code* - Customer's postal/ZIP code;
- *Gender* - Customer's gender;
- *Education* - Customer's highest education level (Bachelor, College, etc.);
- *Location Code* - Urban/Suburban/Rural classification of customer residence;
- *Income* - Customer's annual income;
_ *Marital Status* - Customer's marital status (Married, Single, Divorced);
- *LoyaltyStatus* - Current tier status in loyalty program (Star > Nova > Aurora);
- *EnrollmentDateOpening* - Date when customer joined the loyalty program;
- *CancellationDate* - Date when customer left the program;
- *Customer Lifetime Value* - Total calculated monetary value of customer relationship;
- *EnrollmentType* - Method of joining loyalty program;


#### Flights

- *Loyalty* - Unique customer identifier linking to CustomerDB;
- *Year* - Year of flight activity record;
- *Month* -Month of flight activity record (1-12);
- *YearMonthDate* - First day of the month for the activity period;
- *NumFlights* -Total number of flights taken by customer in the month;
- *NumFlightsWithCompanions* - Number of flights where customer traveled with companions;
- *DistanceKM* - Total distance traveled in kilometers for the month;
- *PointsAccumulated* - Loyalty points earned by customer during the month;
- *PointsRedeemed* - Loyalty points spent/redeemed by customer during the month;
- *DollarCostPointsRedeemed* -Dollar value of points redeemed during the month;

In [519]:
customers_df.head()

,Unnamed: 0,Loyalty#,First Name,Last Name,Customer Name,Country,Province or State,City,Latitude,Longitude,...,Gender,Education,Location Code,Income,Marital Status,LoyaltyStatus,EnrollmentDateOpening,CancellationDate,Customer Lifetime Value,EnrollmentType
0,0,480934,Cecilia,Householder,Cecilia Householder,Canada,Ontario,Toronto,43.653225,-79.383186,...,female,Bachelor,Urban,70146.0,Married,Star,2/15/2019,NaN,3839.14,Standard
1,1,549612,Dayle,Menez,Dayle Menez,Canada,Alberta,Edmonton,53.544388,-113.490930,...,male,College,Rural,0.0,Divorced,Star,3/9/2019,NaN,3839.61,Standard
2,2,429460,Necole,Hannon,Necole Hannon,Canada,British Columbia,Vancouver,49.282730,-123.120740,...,male,College,Urban,0.0,Single,Star,7/14/2017,1/8/2021,3839.75,Standard
3,3,608370,Queen,Hagee,Queen Hagee,Canada,Ontario,Toronto,43.653225,-79.383186,...,male,College,Suburban,0.0,Single,Star,2/17/2016,NaN,3839.75,Standard
4,4,530508,Claire,Latting,Claire Latting,Canada,Quebec,Hull,45.428730,-75.713364,...,male,Bachelor,Suburban,97832.0,Married,Star,10/25/2017,NaN,3842.79,2021 Promotion

In [520]:
flights_df.head()

,Loyalty#,Year,Month,YearMonthDate,NumFlights,NumFlightsWithCompanions,DistanceKM,PointsAccumulated,PointsRedeemed,DollarCostPointsRedeemed
0,413052,2021,12,12/1/2021,2.0,2.0,9384.0,938.0,0.0,0.0
1,464105,2021,12,12/1/2021,0.0,0.0,0.0,0.0,0.0,0.0
2,681785,2021,12,12/1/2021,10.0,3.0,14745.0,1474.0,0.0,0.0
3,185013,2021,12,12/1/2021,16.0,4.0,26311.0,2631.0,3213.0,32.0
4,216596,2021,12,12/1/2021,9.0,0.0,19275.0,1927.0,0.0,0.0

# 2. Data Exploration

## 2.1. Basic Analysis and basic preprocessing

In this chapter we will be checking for: __`Duplicates`__ , __`Data types`__ , __`Missing values and Anomalous values`__

- Customers

In [521]:
customers_df.shape

(16921, 21)

In [522]:
customers_df.columns

Index(['Unnamed: 0', 'Loyalty#', 'First Name', 'Last Name', 'Customer Name',
       'Country', 'Province or State', 'City', 'Latitude', 'Longitude',
       'Postal code', 'Gender', 'Education', 'Location Code', 'Income',
       'Marital Status', 'LoyaltyStatus', 'EnrollmentDateOpening',
       'CancellationDate', 'Customer Lifetime Value', 'EnrollmentType'],
      dtype='object')

- flights

In [523]:
flights_df.shape

(608436, 10)

In [524]:
flights_df.columns

Index(['Loyalty#', 'Year', 'Month', 'YearMonthDate', 'NumFlights',
       'NumFlightsWithCompanions', 'DistanceKM', 'PointsAccumulated',
       'PointsRedeemed', 'DollarCostPointsRedeemed'],
      dtype='object')

### 2.1.1 Handing duplicates

we are going to consider Loyalty# Column as the unique Key, so subset would be Loyalty#

- __`Customers`__

In [525]:
customers_df.duplicated(subset="Loyalty#").sum()

164

- There 164 duplicates let's see the duplicates

In [526]:
duplicates_df=customers_df[customers_df.duplicated(subset="Loyalty#", keep=False)]
duplicates_df.sort_values(by="Loyalty#").head()

,Unnamed: 0,Loyalty#,First Name,Last Name,Customer Name,Country,Province or State,City,Latitude,Longitude,...,Gender,Education,Location Code,Income,Marital Status,LoyaltyStatus,EnrollmentDateOpening,CancellationDate,Customer Lifetime Value,EnrollmentType
1646,1646,101902,Hans,Schlottmann,Hans Schlottmann,Canada,Ontario,London,42.984924,-81.245277,...,female,College,Rural,0.0,Married,Aurora,1/7/2020,NaN,6265.34,Standard
2668,2668,101902,Yi,Nesti,Yi Nesti,Canada,Ontario,Toronto,43.653225,-79.383186,...,female,Bachelor,Urban,79090.0,Married,Aurora,3/19/2020,NaN,8609.16,Standard
15988,15988,106001,Maudie,Hyland,Maudie Hyland,Canada,New Brunswick,Fredericton,45.963589,-66.643112,...,female,Master,Suburban,14973.0,Divorced,Star,7/16/2015,NaN,12168.74,Standard
700,700,106001,Ivette,Peifer,Ivette Peifer,Canada,Quebec,Montreal,45.501690,-73.567253,...,female,High School or Below,Suburban,10037.0,Single,Star,1/11/2016,NaN,4914.04,Standard
13053,13053,106509,Stacy,Schwebke,Stacy Schwebke,Canada,Ontario,Toronto,43.653225,-79.383186,...,female,College,Suburban,0.0,Single,Star,6/12/2021,NaN,4661.98,Standard

In [527]:
customers_df["Loyalty#"].value_counts(ascending=False)

Loyalty#
678205    3
750665    2
369638    2
615561    2
411734    2
         ..
532945    1
570531    1
111584    1
612339    1
100016    1
Name: count, Length: 16757, dtype: int64

- Lets drop the duplicates the 164 duplicates

In [528]:
customers_df.shape

(16921, 21)

In [529]:
customers_df.drop_duplicates(subset="Loyalty#", inplace=True)

- Now let´s set Loyalty# as the Unique index of the dataframe

In [530]:
customers_df.set_index("Loyalty#", inplace=True)

- __`Flights`__

In [531]:
flights_df.head()

,Loyalty#,Year,Month,YearMonthDate,NumFlights,NumFlightsWithCompanions,DistanceKM,PointsAccumulated,PointsRedeemed,DollarCostPointsRedeemed
0,413052,2021,12,12/1/2021,2.0,2.0,9384.0,938.0,0.0,0.0
1,464105,2021,12,12/1/2021,0.0,0.0,0.0,0.0,0.0,0.0
2,681785,2021,12,12/1/2021,10.0,3.0,14745.0,1474.0,0.0,0.0
3,185013,2021,12,12/1/2021,16.0,4.0,26311.0,2631.0,3213.0,32.0
4,216596,2021,12,12/1/2021,9.0,0.0,19275.0,1927.0,0.0,0.0

- Let´s first drop duplicates without a subset of columns

In [532]:
flights_df.duplicated().sum()

2903

In [533]:
flights_df.drop_duplicates(inplace=True)
flights_df.duplicated().sum()

0

- Now let´s check for duplicates for subset = ["Loyalty#","Year", "Month"], since it should be a grouping by Customer and month

In [534]:
flights_df.sort_values(by=["Loyalty#", "Year","Month"], ascending=False)

,Loyalty#,Year,Month,YearMonthDate,NumFlights,NumFlightsWithCompanions,DistanceKM,PointsAccumulated,PointsRedeemed,DollarCostPointsRedeemed
169662,999986,2021,12,12/1/2021,0.0,0.0,0.0,0.00,0.0,0.0
103897,999986,2021,11,11/1/2021,11.0,4.0,10323.0,1032.00,0.0,0.0
95492,999986,2021,10,10/1/2021,6.0,0.0,3126.0,312.00,0.0,0.0
185709,999986,2021,9,9/1/2021,0.0,0.0,0.0,0.00,0.0,0.0
202638,999986,2021,8,8/1/2021,8.0,1.0,28706.0,2870.00,5462.0,54.0
...,...,...,...,...,...,...,...,...,...,...
473228,100018,2019,5,5/1/2019,0.0,0.0,0.0,0.00,0.0,0.0
456327,100018,2019,4,4/1/2019,3.6,0.0,5618.7,561.87,0.0,0.0
439426,100018,2019,3,3/1/2019,12.6,2.7,12335.4,1233.54,3121.2,30.6
422525,100018,2019,2,2/1/2019,1.8,1.8,8923.5,892.35,0.0,0.0
405624,100018,2019,1,1/1/2019,2.7,0.0,11070.0,1107.00,0.0,0.0

In [535]:
flights_df[flights_df.duplicated(subset=["Loyalty#","Year","Month"], keep=False)].sort_values(by=["Loyalty#","Year","Month"])

,Loyalty#,Year,Month,YearMonthDate,NumFlights,NumFlightsWithCompanions,DistanceKM,PointsAccumulated,PointsRedeemed,DollarCostPointsRedeemed
456368,101902,2019,4,4/1/2019,3.6,0.0,10082.7,1008.27,0.0,0.0
456369,101902,2019,4,4/1/2019,3.6,3.6,15718.5,1571.85,3536.1,35.1
473269,101902,2019,5,5/1/2019,8.1,2.7,16708.5,1670.85,0.0,0.0
473270,101902,2019,5,5/1/2019,6.3,0.0,23946.3,2394.63,0.0,0.0
490170,101902,2019,6,6/1/2019,8.1,0.0,8018.1,801.81,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
165596,992168,2021,10,10/1/2021,0.0,0.0,0.0,0.00,0.0,0.0
99052,992168,2021,11,11/1/2021,1.0,1.0,3903.0,390.00,2592.0,25.0
121386,992168,2021,11,11/1/2021,11.0,5.0,21975.0,2197.00,4058.0,40.0
91825,992168,2021,12,12/1/2021,6.0,0.0,26007.0,2600.00,0.0,0.0
110358,992168,2021,12,12/1/2021,15.0,0.0,20278.0,2027.00,0.0,0.0

In [536]:
flights_df.duplicated(subset=["Loyalty#","Year","Month"]).sum()

3001

In [537]:
flights_df.drop_duplicates(subset=["Loyalty#","Year","Month"], inplace=True)

In [538]:
flights_df.duplicated(subset=["Loyalty#","Year","Month"]).sum()

0

In [539]:
flights_duplicates=flights_df[flights_df.duplicated(subset=["Loyalty#", "Year","Month"], keep=False)]
flights_duplicates.sort_values(by=["Loyalty#","Year", "Month"]).head(10)

Empty DataFrame
Columns: [Loyalty#, Year, Month, YearMonthDate, NumFlights, NumFlightsWithCompanions, DistanceKM, PointsAccumulated, PointsRedeemed, DollarCostPointsRedeemed]
Index: []

### 2.1.3 Handling missing and Anomalous values

- __`Customers`__

In [540]:
customers_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16757 entries, 480934 to 100016
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               16757 non-null  int64
 1   First Name               16757 non-null  object
 2   Last Name                16757 non-null  object
 3   Customer Name            16757 non-null  object
 4   Country                  16757 non-null  object
 5   Province or State        16757 non-null  object
 6   City                     16757 non-null  object
 7   Latitude                 16757 non-null  float64
 8   Longitude                16757 non-null  float64
 9   Postal code              16757 non-null  object
 10  Gender                   16757 non-null  object
 11  Education                16757 non-null  object
 12  Location Code            16757 non-null  object
 13  Income                   16737 non-null  float64
 14  Marital Status           16757 non-null  object
 15  LoyaltyStatus            16757 non-null  object
 16  EnrollmentDateOpening    16757 non-null  object
 17  CancellationDate         2288 non-null   object
 18  Customer Lifetime Value  16737 non-null  float64
 19  EnrollmentType           16757 non-null  object
dtypes: float64(4), int64(1), object(15)
memory usage: 2.7+ MB

In [541]:
customers_df.describe(include="O").T

                       count unique                  top   freq
First Name             16757   4935               Stacey     13
Last Name              16757  15263                Ypina      4
Customer Name          16757  16757  Cecilia Householder      1
Country                16757      1               Canada  16757
Province or State      16757     11              Ontario   5410
City                   16757     29              Toronto   3354
Postal code            16757     75              V6E 3D9    911
Gender                 16757      2               female   8421
Education              16757      5             Bachelor  10483
Location Code          16757      3             Suburban   5659
Marital Status         16757      3              Married   9747
LoyaltyStatus          16757      3                 Star   7657
EnrollmentDateOpening  16757   2449             4/3/2015     34
CancellationDate        2288   1256             7/7/2020      8
EnrollmentType         16757      2             Standard  15614

In [542]:
customers_df["Country"].value_counts()

Country
Canada    16757
Name: count, dtype: int64

- First name and Last name and Customer Name, are not going to be usefull for our cluster analysis moving foward, so we will be droping
- There is only one value for Country, all our Customers are from Canada. For the Cluster analysis will not be usefull also, because every customer is from Canada
- Education has 5 values, Let's look into them
- MaritalStatus has 3 values, let's check them
- Location Code has 3 values, let's check them
- LoyaltyStatus has 3 values, let's check them
- EnrollmentType has 2 values, let's check them

In [543]:
customers_df["Education"].value_counts()

Education
Bachelor                10483
College                  4248
High School or Below      782
Doctor                    734
Master                    510
Name: count, dtype: int64

In [544]:
customers_df["Marital Status"].value_counts()

Marital Status
Married     9747
Single      4492
Divorced    2518
Name: count, dtype: int64

In [545]:
customers_df["Location Code"].value_counts()

Location Code
Suburban    5659
Rural       5615
Urban       5483
Name: count, dtype: int64

In [546]:
customers_df["LoyaltyStatus"].value_counts()

LoyaltyStatus
Star      7657
Nova      5671
Aurora    3429
Name: count, dtype: int64

- Checking the city

In [547]:
customers_by_city=customers_df.groupby("City").agg(count=("City","count"))
customers_by_city.sort_values(by="City", key=lambda x: x.str.len()).head()

        count
City
Hull      358
Banff     186
London    174
Regina    409
Ottawa    511

In [548]:
columns_to_remove=["First Name", "Last Name", "Customer Name"]

In [549]:
customers_df.drop(columns=columns_to_remove , inplace=True)

- __`Flights`__

In [550]:
flights_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 602532 entries, 0 to 608435
Data columns (total 10 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Loyalty#                  602532 non-null  int64
 1   Year                      602532 non-null  int64
 2   Month                     602532 non-null  int64
 3   YearMonthDate             602532 non-null  object
 4   NumFlights                602532 non-null  float64
 5   NumFlightsWithCompanions  602532 non-null  float64
 6   DistanceKM                602532 non-null  float64
 7   PointsAccumulated         602532 non-null  float64
 8   PointsRedeemed            602532 non-null  float64
 9   DollarCostPointsRedeemed  602532 non-null  float64
dtypes: float64(6), int64(3), object(1)
memory usage: 50.6+ MB

In [551]:
flights_df["Year"].value_counts()

Year
2021    200844
2020    200844
2019    200844
Name: count, dtype: int64

In [552]:
flights_df["Month"].value_counts()

Month
12    50211
6     50211
5     50211
4     50211
3     50211
2     50211
1     50211
11    50211
10    50211
9     50211
8     50211
7     50211
Name: count, dtype: int64

No anomalous values for year and month
- There is the same number for records per each year and month, which implies that every customer has records for each month since 2019, let`s check this:

In [553]:
flights_df["Loyalty#"].value_counts()

Loyalty#
413052    36
142371    36
637927    36
821325    36
697917    36
          ..
573649    36
177483    36
893040    36
157566    36
854855    36
Name: count, Length: 16737, dtype: int64

In [554]:
flights_count_per_cust=flights_df.groupby("Loyalty#").agg(count=("Loyalty#","count")).reset_index()

In [555]:
flights_count_per_cust['count'].value_counts()

count
36    16737
Name: count, dtype: int64

### 2.1.4 Checking and updating DataTypes

- __`Customers`__

In [556]:
customers_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16757 entries, 480934 to 100016
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               16757 non-null  int64
 1   Country                  16757 non-null  object
 2   Province or State        16757 non-null  object
 3   City                     16757 non-null  object
 4   Latitude                 16757 non-null  float64
 5   Longitude                16757 non-null  float64
 6   Postal code              16757 non-null  object
 7   Gender                   16757 non-null  object
 8   Education                16757 non-null  object
 9   Location Code            16757 non-null  object
 10  Income                   16737 non-null  float64
 11  Marital Status           16757 non-null  object
 12  LoyaltyStatus            16757 non-null  object
 13  EnrollmentDateOpening    16757 non-null  object
 14  CancellationDate         2288 non-null   object
 15  Customer Lifetime Value  16737 non-null  float64
 16  EnrollmentType           16757 non-null  object
dtypes: float64(4), int64(1), object(12)
memory usage: 2.3+ MB

- Lets drop the column named "Unnamed: 0" since we have set Loyalty# as the Index

In [557]:
customers_df.drop(columns="Unnamed: 0", inplace=True)

In [558]:
customers_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16757 entries, 480934 to 100016
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Country                  16757 non-null  object
 1   Province or State        16757 non-null  object
 2   City                     16757 non-null  object
 3   Latitude                 16757 non-null  float64
 4   Longitude                16757 non-null  float64
 5   Postal code              16757 non-null  object
 6   Gender                   16757 non-null  object
 7   Education                16757 non-null  object
 8   Location Code            16757 non-null  object
 9   Income                   16737 non-null  float64
 10  Marital Status           16757 non-null  object
 11  LoyaltyStatus            16757 non-null  object
 12  EnrollmentDateOpening    16757 non-null  object
 13  CancellationDate         2288 non-null   object
 14  Customer Lifetime Value  16737 non-null  float64
 15  EnrollmentType           16757 non-null  object
dtypes: float64(4), object(12)
memory usage: 2.2+ MB

- Lets convert CancelationDate and EnrollmentDateOpening to date

In [559]:
customers_df["EnrollmentDateOpening"].head()

Loyalty#
480934     2/15/2019
549612      3/9/2019
429460     7/14/2017
608370     2/17/2016
530508    10/25/2017
Name: EnrollmentDateOpening, dtype: object

In [560]:
customers_df["EnrollmentDateOpening"]= pd.to_datetime(customers_df["EnrollmentDateOpening"])

In [561]:
customers_df["EnrollmentDateOpening"].head()

Loyalty#
480934   2019-02-15
549612   2019-03-09
429460   2017-07-14
608370   2016-02-17
530508   2017-10-25
Name: EnrollmentDateOpening, dtype: datetime64[ns]

In [562]:
customers_df["CancellationDate"]

Loyalty#
480934           NaN
549612           NaN
429460      1/8/2021
608370           NaN
530508           NaN
             ...
100012     2/27/2019
100013     9/20/2017
100014    11/28/2020
100015      4/9/2020
100016     7/21/2020
Name: CancellationDate, Length: 16757, dtype: object

In [563]:
customers_df["CancellationDate_T"]=pd.to_datetime(customers_df["CancellationDate"], errors="coerce")

- Let´s filter the dates that failed to convert

In [564]:
customers_df[(customers_df["CancellationDate"].notna()) & (customers_df["CancellationDate_T"].isna())][["CancellationDate","CancellationDate_T"]]

         CancellationDate CancellationDate_T
Loyalty#
314558          2/29/2019                NaT
373118          2/29/2019                NaT

- There is no 29 of February of 2019

In [565]:
customers_df["CancellationDate"]=customers_df["CancellationDate_T"]

In [566]:
customers_df.drop(columns="CancellationDate_T", inplace=True)

In [567]:
customers_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16757 entries, 480934 to 100016
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Country                  16757 non-null  object
 1   Province or State        16757 non-null  object
 2   City                     16757 non-null  object
 3   Latitude                 16757 non-null  float64
 4   Longitude                16757 non-null  float64
 5   Postal code              16757 non-null  object
 6   Gender                   16757 non-null  object
 7   Education                16757 non-null  object
 8   Location Code            16757 non-null  object
 9   Income                   16737 non-null  float64
 10  Marital Status           16757 non-null  object
 11  LoyaltyStatus            16757 non-null  object
 12  EnrollmentDateOpening    16757 non-null  datetime64[ns]
 13  CancellationDate         2286 non-null   datetime64[ns]
 14  Customer Lifetime Value  16737 non-null  float64
 15  EnrollmentType           16757 non-null  object
dtypes: datetime64[ns](2), float64(4), object(10)
memory usage: 2.2+ MB

- __`Flights`__

In [568]:
flights_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 602532 entries, 0 to 608435
Data columns (total 10 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Loyalty#                  602532 non-null  int64
 1   Year                      602532 non-null  int64
 2   Month                     602532 non-null  int64
 3   YearMonthDate             602532 non-null  object
 4   NumFlights                602532 non-null  float64
 5   NumFlightsWithCompanions  602532 non-null  float64
 6   DistanceKM                602532 non-null  float64
 7   PointsAccumulated         602532 non-null  float64
 8   PointsRedeemed            602532 non-null  float64
 9   DollarCostPointsRedeemed  602532 non-null  float64
dtypes: float64(6), int64(3), object(1)
memory usage: 50.6+ MB

- why the number of flights is float?
- YearMonthDate is object let´s convert to Datetime

In [569]:
flights_df["YearMonthDate"]=pd.to_datetime(flights_df["YearMonthDate"])

In [570]:
flights_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 602532 entries, 0 to 608435
Data columns (total 10 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Loyalty#                  602532 non-null  int64
 1   Year                      602532 non-null  int64
 2   Month                     602532 non-null  int64
 3   YearMonthDate             602532 non-null  datetime64[ns]
 4   NumFlights                602532 non-null  float64
 5   NumFlightsWithCompanions  602532 non-null  float64
 6   DistanceKM                602532 non-null  float64
 7   PointsAccumulated         602532 non-null  float64
 8   PointsRedeemed            602532 non-null  float64
 9   DollarCostPointsRedeemed  602532 non-null  float64
dtypes: datetime64[ns](1), float64(6), int64(3)
memory usage: 50.6 MB

## 2.2. Feature engineering

- __`Customer`__
- For the EnrollmentDateOpening, we are going to create DaysSinceEnrollment
- For the CancellationDate, we are going to create DaysSinceCancellation
- we are also going to create EnrollmentDurationInDays, which is the difference between the EnrollmentDateOpening and CancellationDate

In [571]:
today=pd.Timestamp.today()
today

Timestamp('2025-10-07 08:34:23.970786')

In [572]:
customers_df["DaysSinceEnrollment"]=(today-customers_df["EnrollmentDateOpening"]).dt.days
customers_df["DaysSinceCancellation"]=(today-customers_df["CancellationDate"]).dt.days
customers_df["EnrollmentDurationInDays"]=(customers_df["CancellationDate"]-customers_df["EnrollmentDateOpening"]).dt.days

In [573]:
customers_df[["EnrollmentDateOpening","CancellationDate","DaysSinceEnrollment","DaysSinceCancellation","EnrollmentDurationInDays"]].head()

,EnrollmentDateOpening,CancellationDate,DaysSinceEnrollment,DaysSinceCancellation,EnrollmentDurationInDays
Loyalty#,,,,,
480934,2019-02-15,NaT,2426,NaN,NaN
549612,2019-03-09,NaT,2404,NaN,NaN
429460,2017-07-14,2021-01-08,3007,1733.0,1274.0
608370,2016-02-17,NaT,3520,NaN,NaN
530508,2017-10-25,NaT,2904,NaN,NaN

In [574]:
customers_df.drop(columns=["EnrollmentDateOpening","CancellationDate"], inplace=True)

In [575]:
customers_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16757 entries, 480934 to 100016
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Country                   16757 non-null  object
 1   Province or State         16757 non-null  object
 2   City                      16757 non-null  object
 3   Latitude                  16757 non-null  float64
 4   Longitude                 16757 non-null  float64
 5   Postal code               16757 non-null  object
 6   Gender                    16757 non-null  object
 7   Education                 16757 non-null  object
 8   Location Code             16757 non-null  object
 9   Income                    16737 non-null  float64
 10  Marital Status            16757 non-null  object
 11  LoyaltyStatus             16757 non-null  object
 12  Customer Lifetime Value   16737 non-null  float64
 13  EnrollmentType            16757 non-null  object
 14  DaysSinceEnrollment       16757 non-null  int64
 15  DaysSinceCancellation     2286 non-null   float64
 16  EnrollmentDurationInDays  2286 non-null   float64
dtypes: float64(6), int64(1), object(10)
memory usage: 2.3+ MB

- __`Flights`__

In [576]:
flights_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 602532 entries, 0 to 608435
Data columns (total 10 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Loyalty#                  602532 non-null  int64
 1   Year                      602532 non-null  int64
 2   Month                     602532 non-null  int64
 3   YearMonthDate             602532 non-null  datetime64[ns]
 4   NumFlights                602532 non-null  float64
 5   NumFlightsWithCompanions  602532 non-null  float64
 6   DistanceKM                602532 non-null  float64
 7   PointsAccumulated         602532 non-null  float64
 8   PointsRedeemed            602532 non-null  float64
 9   DollarCostPointsRedeemed  602532 non-null  float64
dtypes: datetime64[ns](1), float64(6), int64(3)
memory usage: 50.6 MB

- Lets extrat the day from YearMonthDate

In [577]:
flights_df["day"]=flights_df["YearMonthDate"].dt.day

In [578]:
flights_df["day"].value_counts()

day
1    602532
Name: count, dtype: int64

- Every records is equal to one so we will be removing it

Below are the proposed features to better understand customers travel and loyalty behaviour.  

For Flight Activity (`NumFlights`)
- **SumNumFlights** -  Total number of flights taken by the customer.  
- **AvgNumFlights** -  Average number of flights per month.  
- **StdNumFlights** -  Standard deviation of the number of flights.
- **NumMonthsWithFlights** -  Number of months in which the customer flew at least once.  
- **MaxStreakWithFlights** -  Longest consecutive run of months with flights (engagement streak).  
- **MaxStreakWithoutFlights** -  Longest consecutive run of months without flights (inactivity streak).

For Companion Travel (`NumFlightsWithCompanions`)
- **AvgNumFlightsWithCompanions** -  Average number of flights taken with companions.  
- **AvgPerOfFlightsWithCompanions** -  Average proportion of flights taken with companions 
For Distance (`DistanceKM`)
- **SumDistanceKM** -  Total distance travelled (in km).  
- **AvgDistanceKM** -  Average monthly travel distance.  
- **StdDistanceKM** -  Standard deviation of distance travelled per month.

For Loyalty Points Behaviour (`PointsAccumulated`, `PointsRedeemed`, `DollarCostPointsRedeemed`)
- **SumPointsAccumulated** -  Total number of points accumulated.  
- **SumPointsRedeemed** -  Total number of points redeemed.  
- **SumDollarCostPointsRedeemed** - Total dollar value of points redeemed.  
- **AvgPerOfPointsRedeemed** -  Proportion of accumulated points that were redeemed.  
- **AvgPointsBalance** -  Difference between accumulated and redeemed points (net balance).  
- **AvgValueOfPointsInDollars** -  Average dollar value per redeemed point (`SumDollarCostPointsRedeemed / SumPointsRedeemed`).

For Recency
- **MonthsSinceLastFlight** - Number of months since the customers last flight.

In [579]:
# NumFlights
#SumNumFlights** -  Total number of flights taken by the customer.  
#AvgNumFlights** -  Average number of flights per month.  
#StdNumFlights** -  Standard deviation of the number of flights (indicates consistency or irregularity).  

#For Companion Travel (`NumFlightsWithCompanions`)
#AvgNumFlightsWithCompanions** -  Average number of flights taken with companions.  
#AvgPerOfFlightsWithCompanions** -  Average proportion of flights taken with companions 

#For Distance (`DistanceKM`)
#SumDistanceKM** -  Total distance travelled (in km).  
#AvgDistanceKM** -  Average monthly travel distance.  
#StdDistanceKM** -  Standard deviation of distance travelled per month (variation in trip length).
flights_df["PerOfCompanionFlights"]=(flights_df["NumFlightsWithCompanions"]/flights_df["NumFlights"]).fillna(0)
flights_df["PerOfPointsRedeemed"]=(flights_df["PointsRedeemed"]/flights_df["PointsAccumulated"]).fillna(0)
flights_df["PointsBalance"]=(flights_df["PointsAccumulated"]-flights_df["PointsRedeemed"]).fillna(0)

flights_agg_df=flights_df.groupby("Loyalty#").agg(
    SumNumFlights=("NumFlights","sum"),
    AvgNumFlights=("NumFlights","mean"),
    StdNumFlights=("NumFlights","std"),
    AvgNumFlightsWithCompanions=("NumFlightsWithCompanions","mean"),
    AvgPerOffFlightsWithCompanions=("PerOfCompanionFlights","mean"),
    SumDistanceKM=("DistanceKM","sum"),
    AvgDistanceKM=("DistanceKM","mean"),
    StdDistanceKM=("DistanceKM","std"),
    SumPointsAccumulated=("PointsAccumulated","sum"),
    SumPointsRedeemed=("PointsRedeemed","sum"),
    SumDollarCostPointsRedeemed=("DollarCostPointsRedeemed","sum" ),
    AvgPerOfPointsRedeemed=("PerOfPointsRedeemed","mean" ),
    AvgPointsBalance=("PointsBalance","mean" ),
    


).reset_index()

flights_agg_df["AvgValueOfPointsInDollars"]=(flights_agg_df["SumDollarCostPointsRedeemed"]/flights_agg_df["SumPointsRedeemed"]).fillna(0)
#NumMonthsWithFlights** -  Number of months in which the customer flew at least once.
num_months_with_flights_df=flights_df.groupby("Loyalty#").apply(lambda x: (x["NumFlights"]>0).sum() ).reset_index(name="NumMonthsWithFlights")

#MaxStreakWithFlights** -  Longest consecutive run of months with flights (engagement streak).  
#MaxStreakWithoutFlights** -  Longest consecutive run of months without flights (inactivity streak).

C:\Users\kidad\AppData\Local\Temp\ipykernel_10700\1857230889.py:39: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  num_months_with_flights_df=flights_df.groupby("Loyalty#").apply(lambda x: (x["NumFlights"]>0).sum() ).reset_index(name="NumMonthsWithFlights")

In [580]:
flights_agg_df

,Loyalty#,SumNumFlights,AvgNumFlights,StdNumFlights,AvgNumFlightsWithCompanions,AvgPerOffFlightsWithCompanions,SumDistanceKM,AvgDistanceKM,StdDistanceKM,SumPointsAccumulated,SumPointsRedeemed,SumDollarCostPointsRedeemed,AvgPerOfPointsRedeemed,AvgPointsBalance,AvgValueOfPointsInDollars
0,100018,229.9,6.386111,4.619410,1.372222,0.191987,530230.0,14728.611111,10745.696125,53014.30,20562.8,201.9,0.282897,901.430556,0.009819
1,100102,247.7,6.880556,5.218583,1.616667,0.195246,339114.6,9419.850000,10468.850408,33903.96,18760.6,186.2,0.627745,420.648889,0.009925
2,100140,216.8,6.022222,4.989939,1.505556,0.275997,432030.8,12000.855556,12290.385949,43192.58,4896.0,48.0,0.080616,1063.793889,0.009804
3,100214,112.3,3.119444,4.031577,0.547222,0.210317,364601.7,10127.825000,11545.954011,36453.77,12908.6,127.3,1.315612,654.032500,0.009862
4,100272,186.4,5.177778,5.688189,1.475000,0.250083,429630.5,11934.180556,11428.878674,42953.25,10891.4,107.0,0.155939,890.606944,0.009824
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16732,999902,267.1,7.419444,4.875233,2.105556,0.291848,610159.5,16948.875000,10399.144349,61006.55,10501.8,103.1,0.346427,1402.909722,0.009817
16733,999911,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.00,0.0,0.0,0.000000,0.000000,0.000000
16734,999940,85.5,2.375000,4.617444,0.788889,0.087047,238578.9,6627.191667,10069.603344,23855.59,5620.0,56.0,0.076078,506.544167,0.009964
16735,999982,22.0,0.611111,2.271284,0.055556,0.005051,52654.0,1462.611111,5285.266569,5264.00,0.0,0.0,0.000000,146.222222,0.000000
16736,999986,185.8,5.161111,5.191987,0.647222,0.102783,345117.6,9586.600000,9732.851352,34506.96,18049.4,177.8,0.339873,457.154444,0.009851

In [581]:

#For Recency
# **MonthsSinceLastFlight** - Number of months since the customers last flight.
with_numflights_df=flights_df[flights_df["NumFlights"]>0]
with_numflights_agg_df=with_numflights_df.groupby("Loyalty#").agg(LastMonthWithFlights=("YearMonthDate","max")).reset_index()
last_date=flights_df["YearMonthDate"].max()

flights_agg_df=flights_agg_df.merge(with_numflights_agg_df, on="Loyalty#", how="left")
flights_agg_df["MonthsSinceLastFlight"]=(last_date.year-flights_agg_df["LastMonthWithFlights"].dt.month)*12+(last_date.month-flights_agg_df["LastMonthWithFlights"].dt.month)

In [582]:
flights_agg_df["MonthsSinceLastFlight"]=((last_date.year-flights_agg_df["LastMonthWithFlights"].dt.year)*12+(last_date.month-flights_agg_df["LastMonthWithFlights"].dt.month)).fillna(0)

In [583]:
flights_agg_df

,Loyalty#,SumNumFlights,AvgNumFlights,StdNumFlights,AvgNumFlightsWithCompanions,AvgPerOffFlightsWithCompanions,SumDistanceKM,AvgDistanceKM,StdDistanceKM,SumPointsAccumulated,SumPointsRedeemed,SumDollarCostPointsRedeemed,AvgPerOfPointsRedeemed,AvgPointsBalance,AvgValueOfPointsInDollars,LastMonthWithFlights,MonthsSinceLastFlight
0,100018,229.9,6.386111,4.619410,1.372222,0.191987,530230.0,14728.611111,10745.696125,53014.30,20562.8,201.9,0.282897,901.430556,0.009819,2021-12-01,0.0
1,100102,247.7,6.880556,5.218583,1.616667,0.195246,339114.6,9419.850000,10468.850408,33903.96,18760.6,186.2,0.627745,420.648889,0.009925,2021-12-01,0.0
2,100140,216.8,6.022222,4.989939,1.505556,0.275997,432030.8,12000.855556,12290.385949,43192.58,4896.0,48.0,0.080616,1063.793889,0.009804,2021-11-01,1.0
3,100214,112.3,3.119444,4.031577,0.547222,0.210317,364601.7,10127.825000,11545.954011,36453.77,12908.6,127.3,1.315612,654.032500,0.009862,2021-12-01,0.0
4,100272,186.4,5.177778,5.688189,1.475000,0.250083,429630.5,11934.180556,11428.878674,42953.25,10891.4,107.0,0.155939,890.606944,0.009824,2021-11-01,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16732,999902,267.1,7.419444,4.875233,2.105556,0.291848,610159.5,16948.875000,10399.144349,61006.55,10501.8,103.1,0.346427,1402.909722,0.009817,2021-10-01,2.0
16733,999911,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.00,0.0,0.0,0.000000,0.000000,0.000000,NaT,0.0
16734,999940,85.5,2.375000,4.617444,0.788889,0.087047,238578.9,6627.191667,10069.603344,23855.59,5620.0,56.0,0.076078,506.544167,0.009964,2021-12-01,0.0
16735,999982,22.0,0.611111,2.271284,0.055556,0.005051,52654.0,1462.611111,5285.266569,5264.00,0.0,0.0,0.000000,146.222222,0.000000,2021-11-01,1.0
16736,999986,185.8,5.161111,5.191987,0.647222,0.102783,345117.6,9586.600000,9732.851352,34506.96,18049.4,177.8,0.339873,457.154444,0.009851,2021-11-01,1.0

In [584]:
flights_features=flights_agg_df.merge(num_months_with_flights_df, on="Loyalty#", how="left")

In [585]:
flights_features

,Loyalty#,SumNumFlights,AvgNumFlights,StdNumFlights,AvgNumFlightsWithCompanions,AvgPerOffFlightsWithCompanions,SumDistanceKM,AvgDistanceKM,StdDistanceKM,SumPointsAccumulated,SumPointsRedeemed,SumDollarCostPointsRedeemed,AvgPerOfPointsRedeemed,AvgPointsBalance,AvgValueOfPointsInDollars,LastMonthWithFlights,MonthsSinceLastFlight,NumMonthsWithFlights
0,100018,229.9,6.386111,4.619410,1.372222,0.191987,530230.0,14728.611111,10745.696125,53014.30,20562.8,201.9,0.282897,901.430556,0.009819,2021-12-01,0.0,31
1,100102,247.7,6.880556,5.218583,1.616667,0.195246,339114.6,9419.850000,10468.850408,33903.96,18760.6,186.2,0.627745,420.648889,0.009925,2021-12-01,0.0,25
2,100140,216.8,6.022222,4.989939,1.505556,0.275997,432030.8,12000.855556,12290.385949,43192.58,4896.0,48.0,0.080616,1063.793889,0.009804,2021-11-01,1.0,28
3,100214,112.3,3.119444,4.031577,0.547222,0.210317,364601.7,10127.825000,11545.954011,36453.77,12908.6,127.3,1.315612,654.032500,0.009862,2021-12-01,0.0,21
4,100272,186.4,5.177778,5.688189,1.475000,0.250083,429630.5,11934.180556,11428.878674,42953.25,10891.4,107.0,0.155939,890.606944,0.009824,2021-11-01,1.0,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16732,999902,267.1,7.419444,4.875233,2.105556,0.291848,610159.5,16948.875000,10399.144349,61006.55,10501.8,103.1,0.346427,1402.909722,0.009817,2021-10-01,2.0,33
16733,999911,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.00,0.0,0.0,0.000000,0.000000,0.000000,NaT,0.0,0
16734,999940,85.5,2.375000,4.617444,0.788889,0.087047,238578.9,6627.191667,10069.603344,23855.59,5620.0,56.0,0.076078,506.544167,0.009964,2021-12-01,0.0,11
16735,999982,22.0,0.611111,2.271284,0.055556,0.005051,52654.0,1462.611111,5285.266569,5264.00,0.0,0.0,0.000000,146.222222,0.000000,2021-11-01,1.0,3
16736,999986,185.8,5.161111,5.191987,0.647222,0.102783,345117.6,9586.600000,9732.851352,34506.96,18049.4,177.8,0.339873,457.154444,0.009851,2021-11-01,1.0,22

In [589]:
flights_features.drop(columns=["LastMonthWithFlights"], inplace=True)

## 2.3. Statistical Analysis

In [586]:
customers_df.describe().T

,count,mean,std,min,25%,50%,75%,max
Latitude,16757.0,47.176825,3.307562,42.984924,44.231171,46.087818,49.282730,60.721188
Longitude,16757.0,-91.826873,22.244502,-135.056840,-120.237660,-79.383186,-74.596184,-52.712578
Income,16737.0,37749.877696,30370.336552,0.000000,0.000000,34148.000000,62396.000000,99981.000000
Customer Lifetime Value,16737.0,7988.896536,6860.982280,1898.010000,3980.840000,5780.180000,8940.580000,83325.380000
DaysSinceEnrollment,16757.0,2557.297905,718.675331,1377.000000,1916.000000,2531.000000,3184.000000,3906.000000
DaysSinceCancellation,2286.0,2123.861767,500.382633,1377.000000,1696.000000,2094.500000,2443.000000,3906.000000
EnrollmentDurationInDays,2286.0,361.130796,568.705455,-1924.000000,242.000000,244.000000,540.750000,2148.000000

In [590]:
flights_features.describe().T

,count,mean,std,min,25%,50%,75%,max
Loyalty#,16737.0,549735.880445,258912.132453,100018.000000,326603.000000,550434.000000,772019.000000,999986.000000
SumNumFlights,16737.0,141.046107,80.697594,0.000000,70.000000,162.600000,203.000000,348.400000
AvgNumFlights,16737.0,3.917947,2.241600,0.000000,1.944444,4.516667,5.638889,9.677778
StdNumFlights,16737.0,4.269208,1.718790,0.000000,3.897089,4.826859,5.384331,7.099220
AvgNumFlightsWithCompanions,16737.0,0.985944,0.651068,0.000000,0.436111,1.019444,1.461111,3.444444
AvgPerOffFlightsWithCompanions,16737.0,0.157213,0.103355,0.000000,0.069444,0.163228,0.233225,0.555227
SumDistanceKM,16737.0,286387.061188,163685.100797,0.000000,143122.000000,330830.200000,412907.500000,712729.600000
AvgDistanceKM,16737.0,7955.196144,4546.808355,0.000000,3975.611111,9189.727778,11469.652778,19798.044444
StdDistanceKM,16737.0,8656.267302,3486.696490,0.000000,7956.245658,9828.972188,10897.187028,14204.790278
SumPointsAccumulated,16737.0,28633.064152,16365.767353,0.000000,14309.000000,33075.520000,41283.050000,71264.460000
SumPointsRedeemed,16737.0,8488.983384,8689.653565,0.000000,0.000000,6469.500000,13516.000000,57527.800000
SumDollarCostPointsRedeemed,16737.0,83.891289,85.934126,0.000000,0.000000,64.000000,133.400000,572.000000
AvgPerOfPointsRedeemed,16737.0,0.354999,0.711980,0.000000,0.000000,0.128863,0.390621,10.782201
AvgPointsBalance,16737.0,559.557799,391.268955,-600.589167,213.611111,583.393333,860.129444,1811.531111
AvgValueOfPointsInDollars,16737.0,0.006809,0.004571,0.000000,0.000000,0.009843,0.009904,0.010000
MonthsSinceLastFlight,16737.0,1.163171,3.379316,0.000000,0.000000,0.000000,1.000000,23.000000
NumMonthsWithFlights,16737.0,18.021210,9.914342,0.000000,9.000000,22.000000,26.000000,35.000000

## 2.4. Visual exploration

In [ ]:
## 2.3. Visual exploration

# 3. Data Preprocessing

# 4. Feature engineering